[submodule "packages/splitstack/enum-friendly-core"]
	path = packages/splitstack/enum-friendly-core
	url = git@github.com:EmilienKopp/EnumFriendlyCore.git
[submodule "packages/splitstack/laravel-enum-friendly"]
	path = packages/splitstack/laravel-enum-friendly
	url = git@github.com:EmilienKopp/EnumFriendly.git
[submodule "packages/splitstack/laravel-metamon"]
	path = packages/splitstack/laravel-metamon
	url = git@github.com:EmilienKopp/Metamon.git
[submodule "packages/splitstack/laravel-stashable"]
	path = packages/splitstack/laravel-stashable
	url = git@github.com:EmilienKopp/Stashable.git
[submodule "packages/splitstack/pg-laravel-translucid"]
	path = packages/splitstack/pg-laravel-translucid
	url = git@github.com:EmilienKopp/pg-laravel-translucid.git
[submodule "packages/splitstack/translucid"]
	path = packages/splitstack/translucid
	url = git@github.com:EmilienKopp/translucid.git
[submodule "packages/splitstack/translucid-svelte"]
	path = packages/splitstack/translucid-svelte
	url = git@github.com:EmilienKopp/translucid-svelte.git
